{# German template for contextual alternatives #}
Generiere kontextangemessene Alternativen für dieses wiederholte {{ element_type }} in einer {{ genre }}-Geschichte mit {{ tone }} Ton.

WIEDERHOLTES ELEMENT:
"{{ element }}"

KONTEXT, IN DEM ES ERSCHEINT:
{{ context[:500] }}...

Biete Alternativen, die:
1. Die beabsichtigte Bedeutung beibehalten
2. Zu den {{ genre }}-Genre-Konventionen passen
3. Zum {{ tone }} Ton passen
4. Im gegebenen Kontext natürlich wirken
5. Klischees vermeiden, es sei denn, Genre/Ton erfordern sie

Wenn dies ein charakterspezifisches Element ist (wie ein Schlagwort), überlege, ob Variation der Charakterstimme schaden würde.

Generiere 3-5 Alternativen mit Hinweisen, wann jede am besten geeignet wäre.