{# Template für die Generierung von Szenenzusammenfassungen #}
Fasse Kapitel {{ chapter }}, Szene {{ scene }} in 2-3 Sätzen zusammen.

Konzentriere dich auf:
- Welche Schlüsselereignisse passierten
- Was Charaktere lernten oder entdeckten
- Wie die Geschichte voranschritt

NICHT einbeziehen:
- Kommentare zur Schreibqualität
- Analyse von Themen
- Vorhersagen über zukünftige Ereignisse

SZENENINHALT:
{{ scene_content }}

Schreibe eine prägnante, sachliche Zusammenfassung dessen, was in dieser Szene passiert ist: