{# German template for repetition detection #}
Analysiere diesen Text auf Wiederholungen:

{{ text }}

Identifiziere:
1. Wiederholte Phrasen oder Ausdrücke
2. Überstrapazierte beschreibende Elemente
3. Redundante Charaktereigenschaften oder Manierismen
4. Sich wiederholende thematische Aussagen

Liefere für jede Wiederholung:
- Das wiederholte Element
- Anzahl der Vorkommen
- Vorgeschlagene Alternativen für Variation

ANALYSERICHTLINIEN:
- Suche nach exakten Phrasenwiederholungen
- Identifiziere ähnliche Beschreibungen mit unterschiedlichen Wörtern
- Beachte wiederkehrende Figurenhandlungen oder -gesten
- Finde thematische Aussagen, die einander widerspiegeln
- Berücksichtige sowohl wörtliche als auch konzeptuelle Wiederholungen

SCHWEREGRADE:
- Gering: 2-3 Vorkommen ähnlicher Elemente
- Mittel: 4-5 Vorkommen oder sehr ähnliche Formulierung
- Schwer: 6+ Vorkommen oder identische Formulierung

VARIATIONSVORSCHLÄGE:
- Liefere 2-3 Alternativen für jedes wiederholende Element
- Stelle sicher, dass Alternativen zu Kontext und Ton passen
- Bewahre die ursprüngliche Bedeutung bei variierendem Ausdruck

DEUTSCHE STILKONVENTIONEN:
- Berücksichtige Synonymvielfalt der deutschen Sprache
- Nutze unterschiedliche Satzstrukturen
- Variiere zwischen aktiven und passiven Konstruktionen