{# Intelligent scene writing template using synthesized instructions #}
You are writing Chapter {{ chapter }}, Scene {{ scene }} of the story.

## BOOK-LEVEL WRITING INSTRUCTIONS

{{ book_instructions }}

## SCENE-SPECIFIC INSTRUCTIONS

{{ scene_instructions }}

Write the scene now: